*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7A9cc6;
    text-align: center;
    flex-direction: column;
}

.container{
    height: 80vh;
    width: 30vw;
}

@media (max-width:660px) {
    .container{
        width: 80vw;
    }
}
/* .gamebody{
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
} */

.gamebody{
    display: grid;
    /* grid-template-columns: 8vw 8vw 8vw; */
    grid-template-rows: 18vh 18vh 18vh;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin-top: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
} 

.box{
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-size: 2.5rem;
    background-color: #DBD9DB;
}

#reset-btn{
    background-color: black;
    color: antiquewhite;
    font-size: medium;
    padding: 1rem;
    border-radius: 1rem;
}

.winnermsg{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.newgame{
    background-color: black;
    color: antiquewhite;
    font-size: medium;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.msg{
    font-size: 2rem;
    margin: 1rem;
}

.hide{
    display: none;
}